<div [formGroup]="userForm">
    <div class="form-group col-xs-6">
        <div>
            <label>name</label>
            <input type="text" formControlName="name">
            <!--display error message if street is not valid-->
            <small [hidden]="userForm.controls.users.controls[i].controls.name.valid">name is required</small>
        </div>
    </div>
    <div class="form-group col-xs-6">
        <div>
            <label>email</label>
            <input type="text" formControlName="email">
            <!--display error message if street is not valid-->
            <small [hidden]="userForm.controls.users.controls[i].controls.email.valid">email is required</small>
        </div>
    </div>
</div>