<div class="home-page">

    <div class="banner">
        <div class="container">
            <h1 class="logo-font">new company registration</h1>
        </div>
    </div>

    <div class="container page">
        <!-- <div class="row">
                <label>
              company name: <input type="text" name="companyName" length="120" />
            </label>
            </div> -->
        <form [formGroup]="rForm" (ngSubmit)="saveInfo(rForm.value)">
            <div class="border">

                <div class="form-container">
                    <h2>company info</h2>
                </div>

                <table border="0" colspacing="1" cellpadding="3" width="100%">
                    <tr>
                        <td align='right' width="30%"><label>company name :</label></td>
                        <td><input type="text" formControlName="companyName" /></td>
                    </tr>
                    <tr>
                        <td align='right'><label>company address :</label></td>
                        <td>
                            <input type="text" formControlName="companyAddr" />
                            <!--          <show-errors [control]="companyName"></show-errors>-->
                        </td>
                    </tr>
                    <tr>
                        <td align='right'><label>administrator name :</label></td>
                        <td>
                            <input type="text" formControlName="companyAdminName" />
                            <!--          <show-errors [control]="companyName"></show-errors>-->
                        </td>
                    </tr>
                    <tr>
                        <td align='right'><label>phone :</label></td>
                        <td>
                            <input type="text" formControlName="companyPhone" pattern="^\d{3}-\d{3}-\d{4}$" required />
                        </td>
                    </tr>
                    <tr>
                        <td align='right'><label>fax :</label></td>
                        <td> <input type="text" formControlName="companyFax" pattern="^\d{3}-\d{3}-\d{4}$" />
                        </td>
                    </tr>
                    <tr>
                        <td align='right'><label>email :</label></td>
                        <td><input type="text" formControlName="companyEmail" /></td>
                    </tr>
                    <tr>
                        <td align='right'><label>insurance :</label></td>
                        <td>
                            <select formControlName='companyInsurance' ngModel>
                            <option *ngFor="let insurance of insurances" value={{insurance.id}}>
                              {{insurance.name}}
                            </option>
                          </select>
                        </td>
                    </tr>
                </table>
            </div>
            <input type="submit" class="button expanded" value="send registration" [disabled]="!rForm.valid">
            <p>Form value: {{ rForm.value | json }}</p>
            <p>Form status: {{ rForm.status | json }}</p>
        </form>
    </div>
</div>