<div class="home-page" *ngIf="wasPosted && uploadStatus">
    <div class="container page">
        company info was succesfully uploaded. you will receive email shortly.
    </div>
</div>

<div class="home-page" *ngIf="!wasPosted || !uploadStatus">
    <!-- <div class="banner">
        <div class="container">
            <h1 class="logo-font">new company registration</h1>
        </div>
    </div> -->
    <div class="container page" *ngIf="isLoading && !uploadMessage">
        Loading &amp; retrieving data...
    </div>
    <div class="container" *ngIf="uploadMessage">
        <pre class="text-danger">{{ uploadMessage }}</pre>
    </div>

    <div class="container page" *ngIf="!isLoading">
        <form [formGroup]="rForm" (ngSubmit)="submit(rForm.value)">
            <div class="border">

                <div class="form-container">
                    <h2>company info</h2>
                </div>

                <table border="0" colspacing="1" cellpadding="3" width="100%">
                    <tr>
                        <td align='right'><label>name :</label></td>
                        <td>
                            <input type="text" formControlName="companyName" class="form-control input-lg" />
                        </td>
                        <td align='left' width='25%'>
                            <small [hidden]="rForm.controls['companyName'].valid || (rForm.controls['companyName'].pristine && !rForm.submitted)" class="text-danger">
                                    (*) length is between 10 &amp; 128 characters length.
                                  </small>
                        </td>
                    </tr>
                    <tr>
                        <td align='right'><label>street :</label></td>
                        <td>
                            <input type="text" formControlName="companyAddr1" class="form-control input-lg" />
                        </td>
                        <td>
                            <small [hidden]="rForm.controls['companyAddr1'].valid || (rForm.controls['companyAddr1'].pristine && !rForm.submitted)" class="text-danger">
                                    (*) length is between 10 &amp; 128 characters length.
                                  </small>
                        </td>
                    </tr>
                    <tr>
                        <td align='right'></td>
                        <td>
                            <input type="text" formControlName="companyAddr2" class="form-control input-lg" />
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td align='right'><label>city :</label></td>
                        <td>
                            <input type="text" formControlName="companyCity" class="form-control input-lg" />
                        </td>
                        <td>
                            <small [hidden]="rForm.controls['companyCity'].valid || (rForm.controls['companyCity'].pristine && !rForm.submitted)" class="text-danger">
                                    (*) length is between 3 &amp; 128 characters length.
                            </small>
                        </td>
                    </tr>
                    <tr>
                        <td align='right'><label>state :</label></td>
                        <td>
                            <select formControlName='companyState' ngModel class="form-control input-lg">
                                    <option *ngFor="let state of states" value={{state}} [selected]="state === 'FL'">
                                      {{state}}
                                    </option>
                                  </select>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td align='right'><label>company zip :</label></td>
                        <td>
                            <input type="text" formControlName="companyZip" pattern="^\d{5}$" required class="form-control input-lg" />
                        </td>
                        <td>
                            <small [hidden]="rForm.controls['companyZip'].valid || (rForm.controls['companyZip'].pristine && !rForm.submitted)" class="text-danger">
                                    (*)
                            </small>
                        </td>
                    </tr>
                    <tr>
                        <td align='right'><label>administrator name :</label></td>
                        <td>
                            <input type="text" formControlName="companyAdminName" class="form-control" />
                        </td>
                        <td>
                            <small [hidden]="rForm.controls['companyAdminName'].valid || (rForm.controls['companyAdminName'].pristine && !rForm.submitted)" class="text-danger">
                                    (*) length is between 10 &amp; 128 characters length.
                                  </small>
                        </td>
                    </tr>
                    <tr>
                        <td align='right'><label>phone :</label></td>
                        <td>
                            <input type="text" formControlName="companyPhone" pattern="^\d{3}-\d{3}-\d{4}$" required class="form-control" />
                        </td>
                        <td>
                            <small [hidden]="rForm.controls['companyPhone'].valid || (rForm.controls['companyPhone'].pristine && !rForm.submitted)" class="text-danger">
                                    (*) shoud be <i>xxx-xxx-xxxx</i>.
                                  </small>
                        </td>
                    </tr>
                    <tr>
                        <td align='right'><label>fax :</label></td>
                        <td>
                            <input type="text" formControlName="companyFax" pattern="^\d{3}-\d{3}-\d{4}$" class="form-control" />
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td align='right'><label>insurance :</label></td>
                        <td>
                            <select formControlName='companyInsurance' [(ngModel)]="selectedInsurance" ngModel class="form-control input-lg">
                                <option *ngFor="let insurance of insurances" value={{insurance.id}} [selected]="insurance.id === selectedInsurance.id">
                                  {{insurance.name}}
                                </option>
                              </select>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td align='right'><label>email :</label></td>
                        <td>
                            <input type="email" formControlName="companyEmail" required class="form-control input-lg" />
                        </td>
                        <td>
                            <small [hidden]="rForm.controls['companyEmail'].valid || (rForm.controls['companyEmail'].pristine && !rForm.submitted)" class="text-danger">
                                    (*) should be <i>john@doe.com</i>.
                                  </small>
                        </td>
                    </tr>
                    <tr>
                        <td align='right'><label>admin password :</label></td>
                        <td>
                            <input type="password" formControlName="adminPwd" required validateEqual="adminCnfrmPwd" reverse="true" class="form-control input-lg" />
                        </td>
                        <td>
                            <small [hidden]="rForm.controls['adminPwd'].valid || (rForm.controls['adminPwd'].pristine && !rForm.submitted)" class="text-danger">
                                    (*) length is between 6 and 12 characters long
                                  </small>
                        </td>
                    </tr>
                    <tr>
                        <td align='right'><label>admin confirm password :</label></td>
                        <td>
                            <input type="password" formControlName="adminCnfrmPwd" required validateEqual="adminPwd" reverse="false" class="form-control input-lg" />
                        </td>
                        <td>
                            <small [hidden]="rForm.controls['adminCnfrmPwd'].valid || (rForm.controls['adminCnfrmPwd'].pristine && !rForm.submitted)" class="text-danger">
                                password mismatch
                            </small>
                        </td>
                    </tr>
                </table>
            </div>

            <div><br></div>
            <!-- list of users -->
            <div class="border">

                <div class="form-container">
                    <h2>users</h2>
                </div>
                <div formArrayName="users">
                    <div *ngFor="let user of rForm.controls.users.controls; let i=index">
                        <!-- address header, show remove button when more than one address available -->
                        <div>
                            <span>account {{i + 1}}</span>
                        </div>

                        <!-- Angular assigns array index as group name by default 0, 1, 2, ... -->
                        <!-- <div [formGroupName]="i">
                            <user [group]="rForm.controls.users.controls[i]"></user>
                        </div> -->
                        <table border="0" colspacing="1" cellpadding="3" style="width: 100%;">
                            <tbody class="panel-body" [formGroupName]="i">
                                <tr>
                                    <td align='right' width="20%">
                                        <label>name : </label>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" class="form-control input-lg" formControlName="name">
                                            <small [hidden]="rForm.controls.users.controls[i].controls['name'].valid || (rForm.controls.users.controls[i].controls['name'].pristine && !rForm.submitted)" class="text-danger">
                                                    (*) length is between 10 &amp; 128 characters length.
                                                </small>
                                        </div>
                                    </td>
                                    <td align='right' width="20%">
                                        <label>email : </label>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" class="form-control input-lg" formControlName="email">
                                            <small [hidden]="rForm.controls.users.controls[i].controls['email'].valid || (rForm.controls.users.controls[i].controls['email'].pristine && !rForm.submitted)" class="text-danger">
                                                    (*) should be <i>john@doe.com</i>.
                                                </small> </div>
                                    </td>
                                    <td valign='top'>
                                        <button class="roundbutton" (click)="removeUser(i)" *ngIf="rForm.controls.users.controls.length > 1">-</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan='4'>
                                        <div class="form-group">
                                            <label for="formRoles">roles *</label>
                                            <div *ngIf="formRoles">
                                                <div *ngFor="let role of formRoles; let c = index" class="checkbox">
                                                    <label for="role">
                                                        <input type="checkbox" 
                                                               value="{{role.name}}" 
                                                               name="{{role.name}}" 
                                                               [formControl]="rForm.controls.users.controls[i].controls.roles.controls[role.name]"/> {{role.comment}}
                                                     </label>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="margin-20">
                        <button class="roundbutton" (click)="addUser()">+</button>
                    </div>
                </div>
            </div>
            <input type="submit" class="button expanded btn-default" value="send registration" [disabled]="!rForm.valid">
            <div *ngIf="workInDev">
                <p>Form value: {{ rForm.value | json }}</p>
                <p>Form status: {{ rForm.status | json }}</p>
                <p>insurances: {{ insurances | json }}</p>
                <p>selected insurance: {{ selectedInsurance | json }}</p>
                <p>{{ rForm.controls['companyEmail'].valid }}</p>
            </div>
        </form>
    </div>
</div>